APP_DOMAIN=copa.yuri-pires-dev.tech
API_DOMAIN=api.copa.yuri-pires-dev.tech
VITE_API_URL=https://api.copa.yuri-pires-dev.tech
JWT_SECRET=troque-este-segredo
FRONTEND_URL=https://copa.yuri-pires-dev.tech
